body {
	margin: 0;
	height: 100vh;
	width: 100vw;
	background-color: #8a90ac;
}
#canvas,#canvas2,#canvas3,#bg {
	position: fixed;
	margin: 0 auto;
	cursor: pointer;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	-webkit-tap-highlight-color: transparent;
	cursor: pointer;
}
#canvas2,#img,#p1,#p2 {display: none;cursor: pointer;}
.viz {display: block !important}
#p1,#p2 {
	position: fixed;
	margin: 0 auto;
	width: 100%;
	height: 50%;
	top: 0;
	left: 0;
}
#p2 {top: 50%}
#bg, #canvas3 {pointer-events: none}
#bg {
	opacity: .2;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='2px' height='2px' viewBox='0 0 2 2' enable-background='new 0 0 600 600' xml:space='preserve'%3e%3cline fill='none' stroke='%23000000' stroke-miterlimit='10' x1='0' y1='0.5' x2='600' y2='0.5'/%3e%3c/svg%3e")}
button {
	position: fixed;
	bottom: 34px;
	right: 0;
	width: 100%;
	border: none;
	background: none;
	outline: none;
	font: normal 3rem/normal monospace;
	color: #fff;
	text-shadow: 1px 1px #3a2060;
}
